@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.fi-simple-page-content {
    padding: 20px;
    border: unset;
    background: unset;
}

.fi-topbar {
    background: blue;
}

.fi-topbar-start {
    margin-inline-start: auto;
}

.fi-logo {
    color: white;
}

.fi-topbar-end {
    margin-inline-end: unset !important;
}

/* Widget heading styles */
.fi-wi-heading {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}

.fi-section-header-heading {
    font-size: 1.125rem !important;
    font-weight: 600 !important;
}